* {box-sizing: border-box}



@font-face {
  font-family: 'burgerboat-font';
  src: local('burgerboat-font'), url("./fonts/burgerboat-font.woff") format('woff');
  font-weight: normal;
}

* {
  font-family: burgerboat-font;
}
