
@font-face {
  font-family: 'burgerboat-font';
  src: local('burgerboat-font'), url("./fonts/burgerboat-font.woff") format('woff');
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: burgerboat-font;
  --burger-boat-black: #231f20;
}

body {
  height: 1200px;
  font-size: 18px;  
  color: var(--burger-boat-black);
}
